<app-header></app-header>

<div class="app-body">
  
<app-side-bar *ngIf = "isAlerts"></app-side-bar>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <breadcrumbs></breadcrumbs>
      
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu hidden-md-down">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <!--<a class="btn btn-secondary" href="#"><i class="icon-speech"></i></a>-->
          <a class="btn btn-secondary" (click)="startDownload()" title="Download Links" style="cursor: pointer"><i class="icon-cloud-download"></i> &nbsp;Download</a>
          <!--<a class="btn btn-secondary" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>-->
        </div>
      </li>
      
    </ol>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>
</div>

<!--<footer class="app-footer">
  <a href="#">CoreUI</a> &copy; 2017 creativeLabs.
  <span class="float-right">Powered by <a href="#">CoreUI</a></span>
</footer>-->
