<tabset>
  <tab class="scrollbar" id="style-15" (scroll)="onScroll($event)">
    <div *ngIf="noReferences">{{message}}</div>
    <div id="myNav" class="overlay" *ngIf = "loading">
      <div class="overlay-content">
        <div class="loader"></div>
      </div>
    </div>
    <div id="snackbar" *ngIf = "showUpdate" (click)="addUpdates()">New References...</div>
    <div class="p-1" *ngFor="let r of ref;let i = index">
      <div class="message" *ngIf="!noReferences">
        <a href="{{r.sourceUrl}}" target="_blank">
        <div class="py-1 pb-3 mr-1 float-left">
          <div class="avatar">
            <img src="{{r.imageUrl}}" class="img-avatar" style="width:45px;height:45px;" alt="">
            <span class="avatar-status" style="width:17px;height:17px;background-color: white;right:-10px">
              <img src="https://twitter.com/favicon.ico" *ngIf="r.type=='twitter'" style="vertical-align: inherit">
              <img src="https://www.google.com/s2/favicons?domain=www.google.com" *ngIf="r.type=='news'" style="vertical-align: inherit">
            </span>
          </div>
        </div>
        <div>
          <small class="text-muted font-weight-bold">{{r.name}}</small>
           <time style="float:right;font-size:.6em;color: blue">{{r.createdAt | amTimeAgo}}</time>
        </div>
        <div class="text-truncate">{{r.headline}}</div>
        <small class="text-muted">{{r.detail | slice:0:90}}...</small>
        </a>
        <a class="btn" title="Delete" style="float:right;" (click)="delete(r,i)">
          <i class="fa fa-trash fa-lg m-t-2"></i>
        </a>
      </div>
      <hr>
    </div>
  </tab>
</tabset>