<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-2">
          <div class="card-block p-2">
            <div class="alert alert-danger alert-dismissable fade-in" *ngIf="error">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              {{errorMsg}}
            </div>
            <h1>Register</h1>
            <p class="text-muted">Create your account</p>
            <form #f="ngForm" name="form" (ngSubmit)="f.valid && register()" novalidate>
              <div class="input-group mb-1" [ngClass]="{ 'has-danger': f.submitted && !firstName.valid}">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required placeholder="Firstname">
              </div>
              <small *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</small>

              <div class="input-group mb-1" [ngClass]="{ 'has-danger': f.submitted && !lastName.valid }">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input type="text" class="form-control" name="lastname" [(ngModel)]="model.lastName" #lastName="ngModel" required placeholder="Lastname">
              </div>
              <small *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</small>

              <div class="input-group mb-1" [ngClass]="{ 'has-danger': f.submitted && !email.valid }">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel" required>
              </div>
              <small *ngIf="f.submitted && !email.valid" class="help-block">Email is required</small>

              <div class="input-group mb-1" [ngClass]="{ 'has-danger': f.submitted && !password.valid }">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required>
              </div>
              <small *ngIf="f.submitted && !password.valid" class="help-block">Password is required</small>

              <!--<div class="input-group mb-2" [ngClass]="{ 'has-danger': f.submitted && !password.valid }">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" class="form-control" placeholder="Repeat password">
              </div>-->

              <button type="submit" class="btn btn-block btn-success">Create Account</button>
              <button type="submit" [routerLink]="['/login']" class="btn btn-block">Back To Login</button>
              </form>
            </div>
          <div class="card-footer p-2">
            <div class="row">
              <div class="col-6">
                <!--<button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>-->
              </div>
              <div class="col-6">
                <!--<button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
